<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.charity.mapper.DonationTraceMapper">
    
    <resultMap type="DonationTrace" id="DonationTraceResult">
        <result property="donationId"    column="donation_id"    />
        <result property="donorAddress"    column="donor_address"    />
        <result property="amount"    column="amount"    />
        <result property="transTime"    column="trans_time"    />
        <result property="transType"    column="trans_type"    />
        <result property="isDonation"    column="is_donation"    />
        <result property="source"    column="source"    />
        <result property="desc"    column="desc"    />
        <result property="destAddress"    column="dest_address"    />
        <result property="raiseId"    column="raise_id"    />
    </resultMap>

    <sql id="selectDonationTraceVo">
        select donation_id, donor_address, amount, trans_time, trans_type, is_donation, source, desc, dest_address, raise_id from charity_donation
    </sql>

    <select id="selectDonationTraceList" parameterType="DonationTrace" resultMap="DonationTraceResult">
        <include refid="selectDonationTraceVo"/>
        <where>  
            <if test="donorAddress != null  and donorAddress != ''"> and donor_address = #{donorAddress}</if>
            <if test="amount != null "> and amount = #{amount}</if>
        </where>
    </select>
    
    <select id="selectDonationTraceByDonationId" parameterType="Long" resultMap="DonationTraceResult">
        <include refid="selectDonationTraceVo"/>
        where donation_id = #{donationId}
    </select>
        
    <insert id="insertDonationTrace" parameterType="DonationTrace">
        insert into charity_donation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="donationId != null">donation_id,</if>
            <if test="donorAddress != null">donor_address,</if>
            <if test="amount != null">amount,</if>
            <if test="transTime != null">trans_time,</if>
            <if test="transType != null">trans_type,</if>
            <if test="isDonation != null">is_donation,</if>
            <if test="source != null">source,</if>
            <if test="desc != null">desc,</if>
            <if test="destAddress != null">dest_address,</if>
            <if test="raiseId != null">raise_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="donationId != null">#{donationId},</if>
            <if test="donorAddress != null">#{donorAddress},</if>
            <if test="amount != null">#{amount},</if>
            <if test="transTime != null">#{transTime},</if>
            <if test="transType != null">#{transType},</if>
            <if test="isDonation != null">#{isDonation},</if>
            <if test="source != null">#{source},</if>
            <if test="desc != null">#{desc},</if>
            <if test="destAddress != null">#{destAddress},</if>
            <if test="raiseId != null">#{raiseId},</if>
         </trim>
    </insert>

    <update id="updateDonationTrace" parameterType="DonationTrace">
        update charity_donation
        <trim prefix="SET" suffixOverrides=",">
            <if test="donorAddress != null">donor_address = #{donorAddress},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="transTime != null">trans_time = #{transTime},</if>
            <if test="transType != null">trans_type = #{transType},</if>
            <if test="isDonation != null">is_donation = #{isDonation},</if>
            <if test="source != null">source = #{source},</if>
            <if test="desc != null">desc = #{desc},</if>
            <if test="destAddress != null">dest_address = #{destAddress},</if>
            <if test="raiseId != null">raise_id = #{raiseId},</if>
        </trim>
        where donation_id = #{donationId}
    </update>

    <delete id="deleteDonationTraceByDonationId" parameterType="Long">
        delete from charity_donation where donation_id = #{donationId}
    </delete>

    <delete id="deleteDonationTraceByDonationIds" parameterType="String">
        delete from charity_donation where donation_id in 
        <foreach item="donationId" collection="array" open="(" separator="," close=")">
            #{donationId}
        </foreach>
    </delete>
</mapper>