<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.charity.mapper.OrgMapper">
    
    <resultMap type="Org" id="OrgResult">
        <result property="id"    column="id"    />
        <result property="orgName"    column="org_name"    />
        <result property="amount"    column="amount"    />
        <result property="activitiesList"    column="activities_list"    />
        <result property="orgAddress"    column="org_address"    />
        <result property="privateKey"    column="private_key"    />
        <result property="publicKey"    column="public_key"    />
    </resultMap>

    <sql id="selectOrgVo">
        select id, org_name, amount, activities_list, org_address, private_key, public_key from charity_org
    </sql>

    <select id="selectOrgList" parameterType="Org" resultMap="OrgResult">
        <include refid="selectOrgVo"/>
        <where>  
            <if test="orgName != null  and orgName != ''"> and org_name like concat('%', #{orgName}, '%')</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="activitiesList != null  and activitiesList != ''"> and activities_list = #{activitiesList}</if>
            <if test="orgAddress != null  and orgAddress != ''"> and org_address = #{orgAddress}</if>
            <if test="privateKey != null  and privateKey != ''"> and private_key = #{privateKey}</if>
            <if test="publicKey != null  and publicKey != ''"> and public_key = #{publicKey}</if>
        </where>
    </select>
    
    <select id="selectOrgById" parameterType="Long" resultMap="OrgResult">
        <include refid="selectOrgVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOrg" parameterType="Org">
        insert into charity_org
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orgName != null">org_name,</if>
            <if test="amount != null">amount,</if>
            <if test="activitiesList != null">activities_list,</if>
            <if test="orgAddress != null">org_address,</if>
            <if test="privateKey != null">private_key,</if>
            <if test="publicKey != null">public_key,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="orgName != null">#{orgName},</if>
            <if test="amount != null">#{amount},</if>
            <if test="activitiesList != null">#{activitiesList},</if>
            <if test="orgAddress != null">#{orgAddress},</if>
            <if test="privateKey != null">#{privateKey},</if>
            <if test="publicKey != null">#{publicKey},</if>
         </trim>
    </insert>

    <update id="updateOrg" parameterType="Org">
        update charity_org
        <trim prefix="SET" suffixOverrides=",">
            <if test="orgName != null">org_name = #{orgName},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="activitiesList != null">activities_list = #{activitiesList},</if>
            <if test="orgAddress != null">org_address = #{orgAddress},</if>
            <if test="privateKey != null">private_key = #{privateKey},</if>
            <if test="publicKey != null">public_key = #{publicKey},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrgById" parameterType="Long">
        delete from charity_org where id = #{id}
    </delete>

    <delete id="deleteOrgByIds" parameterType="String">
        delete from charity_org where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>